<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"><p class="navbar-brand">Mon application</p></div>
            <ul *ngIf="localStorage.getItem('currentUser')" class="nav navbar-nav navbar-right">
                <li><a><span class="glyphicon glyphicon-user"></span> Connecté en tant que {{ localStorage.getItem("username")}}</a></li>
                <li><a (click)="logout()" style="cursor:pointer" ><span class="glyphicon glyphicon-log-out"></span> Deconnection</a></li>
            </ul>
        </div>
    </nav>
</header>
<!-- main content -->
<div class="container">
    <div class="col-sm-8 col-sm-offset-2">
        <router-outlet></router-outlet>
    </div>
</div>
